.spellDetails {
    margin: 1em;
}

.databox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.databox div {
    text-align: center;
    width: 8em;
    height: 4em;
    margin-top: 1em;
}