.spell-details {
    margin: 1em;
}

.databox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.databox div {
    text-align: center;
    width: 8em;
    height: 4em;
    margin-top: 1em;
}

.bubble {
    background-color: rgba(1, 1, 1, 0.1);
    border: 1px solid rgba(1, 1, 1, 0.5);;
    box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.2);;
    padding: 0 0.4em 0 0.4em;
    margin-left: 0.4em;
}