
body {
  background-color: rgb(37, 26, 14);
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.page {
    width: 66%;
    margin-left: 16%;
    background-color: rgb(241, 230, 218);
}